<div class="panel" style="width: 900px;margin: 40px auto 0;">
<div class="container">
	<div class="panel-heading">
	<div class="row">
		<div class="col-md-6">
			<h3 class="panel-title">快速注册我的账号</h3>
		</div>
		<div class="col-md-3">
			<span>已有账号？</span>
			<a ui-sref="login">马上登录</a>
		</div>
	</div>
</div>
<div class="panel-body">
	<form action="" method="" role="form">
		<div class="row">
			<div class="col-md-6 form-group">
				<div class="col-md-3"><label for="">账号：</label></div>
				<div class="col-md-9"><input type="text" class="form-control"><span class="help-block">用户名以字母数字开头，长度为8-20</span></div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<div class="col-md-3"><label for="">密码：</label></div>
				<div class="col-md-9"><input type="password" class="form-control"><span class="help-block">密码以字母数字开头，长度为8-13</span></div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<div class="col-md-3"><label for="">确认密码：</label></div>
				<div class="col-md-9"><input type="password" class="form-control"><span class="help-block">请确认您输入的密码</span></div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<div class="col-md-3"><label for="">验证码：</label></div>
				<div class="col-md-9"><input type="password" class="col-md-3">验证码 <span>看不清，换一张</span></div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<div class="col-md-3"></div>
				<label for="agree" class="col-md-9"><input type="checkbox" name='agree'>同意xx网站服务使用协议 <a href="">用户注册协议</a></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<div class="col-md-3"></div>
				<div class="col-md-9">
					<button type="submit" class="btn btn-primary">立即注册</button>
				</div>
			</div>
		</div>
	</form>
</div>
</div>
</div>
