<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<h4 class="text-info">个人资料：</h4>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-offset-3 text-muted">
			<div class="row">
				<div class="col-md-2 text-right">姓名：</div>
				<div class="col-md-offset-2">{{userInfo.name}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">年龄：</div>
				<div class="col-md-offset-2">{{userInfo.age}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">性别：</div>
				<div class="col-md-offset-2">{{userInfo.sex}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">账号：</div>
				<div class="col-md-offset-2">{{userInfo.username}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">邮箱：</div>
				<div class="col-md-offset-2">{{userInfo.email}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">出生日期：</div>
				<div class="col-md-offset-2">{{userInfo.birthDay}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">身份证号：</div>
				<div class="col-md-offset-2">{{userInfo.id}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">详细地址：</div>
				<div class="col-md-offset-2">{{userInfo.address}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-right">联系方式：</div>
				<div class="col-md-offset-2">{{userInfo.phone}}</div>
			</div>
		</div>
	</div>
</div>